@model namasdev.Apps.Entidades.EntidadPropiedad
@{
    var labelHtmlAttributes = new Dictionary<string, string>();
    var controlHtmlAttributes = new Dictionary<string, string>();

    if (Model.PermiteNull)
    {
        controlHtmlAttributes.Add("class", "form-control inputmask-numeric");
    }
    else
    {
        labelHtmlAttributes.Add("class", "requerido");
        controlHtmlAttributes.Add("class", "form-control form-control-required inputmask-numeric");
    }

    var especificacionesDecimal = Model.EspecificacionesDecimal;
    if (especificacionesDecimal != null)
    {
        // TODO (ML): completar
    }

    string labelHtmlAttributesString = labelHtmlAttributes.Count > 0
        ? string.Format(", new {{ {0} }}", namasdev.Core.Types.Formateador.Lista(labelHtmlAttributes.Select(a => string.Format("@{0} = \"{1}\"", a.Key, a.Value)), separador: ", "))
        : "";
    string controlHtmlAttributesString = controlHtmlAttributes.Count > 0
        ? string.Format(", new {{ {0} }}", namasdev.Core.Types.Formateador.Lista(controlHtmlAttributes.Select(a => string.Format("@{0} = \"{1}\"", a.Key, a.Value)), separador: ", "))
        : "";
}
<div class="form-group col-md-6">
    @@Html.LabelFor(m => m.@(Model.Nombre)@(Html.Raw(labelHtmlAttributesString)))
    @@Html.TextBoxFor(m => m.@(Model.Nombre)@(Html.Raw(controlHtmlAttributesString)))
    @@Html.ValidationMessageFor(m => m.@(Model.Nombre))
</div>